process {
    withName: 'BBMAP_BBSPLIT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'HISAT2_ALIGN' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'HISAT2_BUILD' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'KALLISTO_QUANT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:kallisto_0.51.1--heb0cbe2_0'
	}
    withName: 'KRAKEN2_KRAKEN2' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'RSEM_CALCULATEEXPRESSION' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p2'
	}
    withName: 'RSEM_PREPAREREFERENCE' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p2'
	}
    withName: 'RSEQC_TIN' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'SORTMERNA' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p2'
	}
    withName: 'STAR_ALIGN' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'STAR_ALIGN_IGENOMES' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2_59cdd445419f14abac76b31dd0d71217994cbcc9-0'
	}
    withName: 'STAR_GENOMEGENERATE' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'STAR_GENOMEGENERATE_IGENOMES' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2_59cdd445419f14abac76b31dd0d71217994cbcc9-0'
	}
    withName: 'TRIMGALORE' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_10'
	}
    withName: 'DUPRADAR' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:bioconductor-dupradar_1.32.0--r43hdfd78af_0'
	}
    withName: 'BRACKEN_BRACKEN' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'GFFREAD' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:gffread_0.12.7--hdcf5f25_4'
	}
    withName: 'GTF2BED' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:perl_5.26.2'
	}
    withName: 'SAMTOOLS_INDEX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:samtools_1.21--h50ea8bc_0'
	}
    withName: 'DESEQ2_QC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:mulled-v2-8849acf39a43cdd6c839a369a74c0adc823e2f91_ab110436faf952a33575c64dd74615a84011450b-0'
	}
    withName: 'FASTP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:fastp_0.24.0'
	}
    withName: 'FASTQC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:fastqc_0.12.1--hdfd78af_0'
	}
    withName: 'FQ_LINT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:fq_0.12.0--h9ee0642_0'
	}
    withName: 'HISAT2_EXTRACTSPLICESITES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'KALLISTO_INDEX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:kallisto_0.51.1--heb0cbe2_0'
	}
    withName: 'PICARD_MARKDUPLICATES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:picard_3.1.1--hdfd78af_0'
	}
    withName: 'QUALIMAP_RNASEQ' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:qualimap_2.3--hdfd78af_0'
	}
    withName: 'RSEM_MERGE_COUNTS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_mag_awscli:ubuntu_20.04'
	}
    withName: 'RSEQC_BAMSTAT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'RSEQC_INFEREXPERIMENT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'RSEQC_INNERDISTANCE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'RSEQC_JUNCTIONANNOTATION' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'RSEQC_JUNCTIONSATURATION' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'RSEQC_READDISTRIBUTION' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'RSEQC_READDUPLICATION' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:rseqc_5.0.3--py39hf95cd2a_0'
	}
    withName: 'SALMON_INDEX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:salmon_1.10.3--h6dccd9a_2'
	}
    withName: 'SALMON_QUANT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:salmon_1.10.3--h6dccd9a_2'
	}
    withName: 'SAMTOOLS_SORT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:samtools_1.21--h50ea8bc_0'
	}
    withName: 'STRINGTIE_STRINGTIE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:stringtie_2.2.3--h43eeafb_0'
	}
    withName: 'SUBREAD_FEATURECOUNTS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:subread_2.0.6--he4a0461_2'
	}
    withName: 'SUMMARIZEDEXPERIMENT_SUMMARIZEDEXPERIMENT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:bioconductor-summarizedexperiment_1.32.0--r43hdfd78af_0'
	}
    withName: 'TXIMETA_TXIMPORT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:bioconductor-tximeta_1.20.1--r43hdfd78af_0'
	}
    withName: 'UCSC_BEDCLIP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:ucsc-bedclip_377--h0b8a92a_2'
	}
    withName: 'UMITOOLS_DEDUP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:umi_tools_1.1.5--py39hf95cd2a_0'
	}
    withName: 'UMITOOLS_PREPAREFORRSEM' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:umi_tools_1.1.5--py39hf95cd2a_0'
	}
    withName: 'BEDTOOLS_GENOMECOV' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'CAT_FASTQ' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'CUSTOM_GETCHROMSIZES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:samtools_1.21--h50ea8bc_0'
	}
    withName: 'CUSTOM_TX2GENE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:python_3.10.4'
	}
    withName: 'FQ_SUBSAMPLE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:fq_0.12.0--h9ee0642_0'
	}
    withName: 'GUNZIP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'MULTIQC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:multiqc_1.29--pyhdfd78af_0'
	}
    withName: 'PRESEQ_LCEXTRAP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:preseq_3.2.0--hdcf5f25_6'
	}
    withName: 'SAMTOOLS_FLAGSTAT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:samtools_1.21--h50ea8bc_0'
	}
    withName: 'SAMTOOLS_IDXSTATS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:samtools_1.21--h50ea8bc_0'
	}
    withName: 'SAMTOOLS_STATS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:samtools_1.21--h50ea8bc_0'
	}
    withName: 'UCSC_BEDGRAPHTOBIGWIG' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:ucsc-bedgraphtobigwig_469--h9b8f530_0'
	}
    withName: 'UMICOLLAPSE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:umicollapse_1.1.0--hdfd78af_0'
	}
    withName: 'UMITOOLS_EXTRACT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:umi_tools_1.1.5--py39hf95cd2a_0'
	}
    withName: 'UNTAR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:base_packages_py3_11_p1'
	}
    withName: 'CUSTOM_CATADDITIONALFASTA' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:python_3.12'
	}
    withName: 'GTF_FILTER' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:python_3.9--1'
	}
    withName: 'MULTIQC_CUSTOM_BIOTYPE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_rnaseq_awscli:python_3.9--1'
	}
    withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_mag_awscli:ubuntu_20.04'
	}
}